{% extends "layout.html" %}
{% block content %}
    <h1>Presidential Candidate Tracker</h1>
    {# <p class="show-candidates" data="all">Show All Candidates</p> #}
    <p class="show-candidates" data="top">Top Candidates</p>
    {# <p class="show-candidates" data="dem">Show Democratic Candidates</p> #}
    {# <p class="show-candidates" data="rep">Show Republican Candidates</p> #}
    <div id="ajax-loader"></div>
    <script>
    // var pathArray = window.location.pathname.split( '/' )
    $("#ajax-loader").show();
    function update_candidates(group_val, individual) {
      $.ajax({
        type: "POST",
        contentType: "application/json; charset=utf-8",
        url: "/candidates",
        dataType: "json",
        async: true,
        data: '{"group" :"' + group_val + '", "individual" :"' + individual + '"}',
        success: function (results) {
          data = results['data'];
          console.log(results)
          create_stacks(data)
        },
        error: function (result) {
          console.log("hmm?")
        }
      });
    }
    var candidate = '{{ name }}';
    update_candidates("", candidate);
    </script>
{% endblock %}
