{% extends "layout.html" %}
{% block content %}

    <div id="main-img-div"><img><p></p></div>
    <div id="live-tweets-div"><span>Live Streaming Tweets about the 2016 Election Candidates</span></div>
    <div id="ajax-loader"></div>
    <script>

    $("#ajax-loader").show();
    update_candidates("top", "");
    get_stream();
    $(document).on("click",".candidate-block", function(){
      var this_date = $(this).attr("date");
      var candidate = $(this).parent().attr("candidate");
      candidate = return_candidate_short_name(candidate);
      window.location = "/map/" + candidate + "/" + this_date;
      // $("svg").remove();
      // $("#ajax-loader").show();
      // create_word_cloud(this_date, candidate);
    });

    $(".show-candidates").click(function(){
      $("svg").remove();
      $("#ajax-loader").show();
      var attr = $(this).attr("data");
      update_candidates(attr,"");
    });

    $(document).on({
      mouseenter: function () {
        var candidate = $(this).text();
        var img_src = return_candidate_img_src(candidate);
        $("#main-img-div > img").attr("src", img_src);
        $("#main-img-div > p").text(candidate);
        $("#main-img-div > img").show();
      },
      mouseleave: function () {
        // $("#main-img-div > img").hide();
      }
    }, ".group-label");

    $(document).on("click", ".group-label" ,function(){
      // $("svg").remove();
      // $("#ajax-loader").show();
      var candidate = $(this).text();
      candidate = return_candidate_short_name(candidate);
      window.location = "/candidate/" + candidate;
    });
    </script>
{% endblock %}
