{% extends "layout.html" %}
{% block content %}
    <p class="map_btn" id="sentiment_btn">Sentiment</p>
    <p class="map_btn" id="volume_btn">Volume</p>
    <p class="map_btn" id="cloud_btn">Cloud</p>
    <p class="map_btn" id="topic_btn">Topics</p>
    <div id="map"></div>
    <script>

    var pathArray = window.location.pathname.split( '/' );
    create_map(pathArray[2], pathArray[3], "sentiment");
    $("#sentiment_btn").click(function() {
        $("#map").html("");
        create_map(pathArray[2], pathArray[3], "sentiment")
    });

    $("#volume_btn").click(function() {
        $("#map").html("");
        create_map(pathArray[2], pathArray[3], "volume")
    });

    $("#cloud_btn").click(function() {
        window.location = "/cloud/" + pathArray[2] + "/" + pathArray[3];
    });

    $("#topic_btn").click(function() {
        window.location = "/topic/" + pathArray[2] + "/" + pathArray[3];
    });

    </script>
{% endblock %}
